html {
  background-color: #fafafa;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#books-table td.published {
  white-space: nowrap;
}

#books-table td.is-loading {
  text-align: center;
}

#books-table-scroller {
  max-height: 60vh;
  overflow-y: auto;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
